.dashboard-container {
  background-color: rgb(220, 248, 220);
  color: rgb(24, 23, 23);
  min-height: 100vh;
  padding: 2rem;
}

.dashboard-card {
  background-color: #6fac81;
  border: none;
  color: black;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.dashboard-card-title {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
}

.dashboard-card-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.table-dark-custom {
  background-color: #26362b;
  color: white;
}

.table-dark-custom thead th {
  border-bottom: 2px solid #444;
}

.react-calendar__navigation button {
    color: #1d1d1d;
    font-weight: bold;
}
.calendar {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.react-calendar__tile{
    color: black;
}

.react-calendar__tile--active {
  background: #6fac81 !important;
  color: white;
}

.react-calendar__tile--hasActive {
  background: #dcf8dc !important;
  color: black;
}

